body{

}
a{
	width: calc(100%/4);
}
img{
	width: 30%;
}
.image{
	width:100%;
	z-index:2;
	position: relative;
}
#demo{
	z-index: 100;
	position: absolute;
	margin-left: 25%;
	margin-top: 10%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#demo:target {
  visibility: visible;
  opacity: 1;
}
#demo a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
#demoun{
	z-index: 100;
	margin-top: 10%;
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#demoun:target {
  visibility: visible;
  opacity: 1;
}
#demoun a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
#demodeux{
	margin-top: 10%;
	z-index: 100;
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#demodeux:target {
  visibility: visible;
  opacity: 1;
}
#demodeux a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
#demotrois{
	margin-top: 10%;
	z-index: 100;
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#demotrois:target {
  visibility: visible;
  opacity: 1;
}
#demotrois a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
#demoquatre{
	margin-top: 10%;
	z-index: 100;
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#demoquatre:target {
  visibility: visible;
  opacity: 1;
}
#demoquatre a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
#democinq{
	margin-top: 10%;
	z-index: 100;
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#democinq:target {
  visibility: visible;
  opacity: 1;
}
#democinq a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
#demosix{
	margin-top: 10%;
	z-index: 100;
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#demosix:target {
  visibility: visible;
  opacity: 1;
}
#demosix a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
#demosept{
	margin-top: 10%;
	z-index: 100;
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	width: 50%;
    text-align: right;
     word-wrap: break-word;
}
#demosept:target {
  visibility: visible;
  opacity: 1;
}
#demosept a{
font-weight: bold;
color: black;
text-decoration: none;
font-size: 30px;

}
.modalClose:target #demo{
 visibility: hidden;
  opacity: 0;
}

.nomPhoto{
	width: 100%;
	display: flex;
justify-content: space-between;
}
.nomPrenom{
	display: flex;
	text-align: left;
	flex-direction: column;
}
.photoClose{
	text-align: right;
	display: flex;
	flex-direction: column;
}
.paragraphe{
	text-align: left;

}
#bouton{
	margin-top: 25%;
	width: 99%;
	z-index: 2000;
	position: absolute;
	display: flex;
	justify-content: space-between;
}
#bouton a{
width: 5%;
background-color: yellow;
border-radius: 25px;
text-align: center;
}
#boutonUn:active{
	visibility: hidden;
}
#divUn{
	
	display: flex;
flex-wrap: wrap;
}
#flecheDeux:active #divUn{
display: none;
}
#divUn:target {

}
#divDeux{
	display: flex;
flex-wrap: wrap;
}
#divDeux:target {

}